table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  border-spacing: 5px;
  width: 90%;
}


th, td {
  padding: 15px;
}

th {
  text-align: center;
  background: #D0D0D0;
  height: 40px;
}

table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

tr:nth-child(odd){
  background-color: #E8E8E0;
}

tr:nth-child(even){
  background-color: #F9F8F8;
}
