table {
  border: 1px solid #F5F5F5;
  border-collapse: separate;
  border-spacing: 5px;
  width: 45%;
  border-radius: 15px;
  border-spacing: 0px;
  overflow: hidden;
}

td {
  padding: 15px;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  text-align: left;
}

th {
  background: #EBEBEB;
  height: 40px;
  padding: 15px;
  text-align: left;
}

tr:nth-child(even){
  background-color: #F5F5F5;
}

tr:nth-child(odd){
  background-color: #FFFFFF;
}

tr td:nth-last-child(1){
  text-align: right;
}

tr td:nth-last-child(2){
  text-align: right;
}

tr td:nth-child(1){
  width: 18%;
}

tr td:nth-child(2){
  width: 18%;
}

